/*******************************
 ** Widget Theme: e4e40a 
 ** Base Color: #e4e40a
 ******************************/
h2 { 
	color:#e4e40a; 
}
.menu_button_active,
.menu_closer_active,
.menu_button_arrow,
.bigbutton,
.poplink,
.buttonbar .selected,
.buttonbar .selected a,
.category_selected,
.help_box,
.tag_cloud a:hover,
.homesite_icon {
	background-color:#e4e40a;
}
	
.menu,
.menu a,
.accordeon_bar,
.h2,
.tag_cloud a {
	color:#e4e40a;
}
